<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4"> 
        <display-name>Application WEB affichant HelloWorld</display-name> 
        <display-name>Application WEB affichant HelloWorld</display-name> 


    <servlet> 
        <servlet-name>EmpAddServelet</servlet-name>
        <servlet-class>mpiasa.EmpAddServelet</servlet-class> 
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpAddServelet</servlet-name> 
        <url-pattern>/form.html</url-pattern>
    </servlet-mapping>


    <servlet> 
        <servlet-name>EmplistServelet</servlet-name>
        <servlet-class>mpiasa.EmplistServelet</servlet-class> 
    </servlet>
    <servlet-mapping>
        <servlet-name>EmplistServelet</servlet-name> 
        <url-pattern>/receive</url-pattern>
    </servlet-mapping>


</web-app>
